@import 'part:@sanity/base/theme/variables-style';

:root {
  --border-style: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: absolute;
  padding-top: var(--large-padding);
  background: var(--component-bg);
  padding: var(--medium-padding);
  box-sizing: border-box;
}

.header {
  padding-bottom: var(--medium-padding);
}

.heading {
  composes: heading2 from 'part:@sanity/base/theme/typography/forms-style';
  margin: 0;
}

.description {
  composes: description from 'part:@sanity/base/theme/typography/text-blocks-style';
}

.calendar {
  width: 100%;
  height: 100%;
  color: var(--text-color);
  font-family: var(--font-family-sans-serif);

  @nest & div[class*='rbc-event'] {
    padding: 0;
    margin: 0;
    background: transparent;
  }

  @nest & div[class*='rbc-off-range'] {
    background: var(--input-bg-disabled);
  }

  @nest & div[class*='rbc-header'] {
    padding: var(--small-padding);
    text-align: right;
    font-weight: normal;
  }

  @nest & div[class*='rbc-today'] {
    background: var(--component-bg);
  }

  @nest & div[class*='rbc-row'] div[class*='rbc-date-cell'] {
    padding: 5px;
    background: transparent;

    @nest & a {
      font-size: var(--font-size-small);
    }
  }

  @nest & div[class*='rbc-row-bg'] {
    background: var(--component-bg);
  }

  @nest & div[class*='rbc-now'] a {
    font-weight: normal;
    background: var(--brand-primary);
    border-radius: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin-left: auto;
  }
}

.event:not(tr) {
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--component-bg);
}

.future {
  background: var(--component-bg);
  color: var(--text-color);

  @nest &[class*='rbc-selected'] {
    background: 0;
  }
}

.day + .day {
  border-left: var(--input-border-size) solid var(--input-border-color);
}
