@import "part:@sanity/base/theme/variables-style";

.root {
  padding: var(--medium-padding);
  padding-top: 0;
}

.inner {
  display: flex;
  align-items: flex-start;
  padding: var(--medium-padding) 0;
}

.previewContainer {
  border-radius: var(--input-border-radius);
  overflow: hidden;
  flex: 1;
  max-width: 125px;
  min-width: 125px;

  @nest & img {
    object-fit: contain;
  }
}

.details {
  margin-left: var(--medium-padding);
}

.label {
  color: var(--text-muted);
  font-size: var(--font-size-xsmall--uppercase);
  line-height: var(--line-height-xsmall--uppercase);
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.value {
  display: block;
  margin-bottom: var(--small-padding);
}

.user {
  margin-top: var(--extra-small-padding);
}

.intent {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.warning {
  padding-top: var(--medium-padding);
}
