@import "part:@sanity/base/theme/variables-style";

.root {
  /*  */
  padding: var(--extra-small-padding);
  overflow: hidden;
  display: flex;
  align-items: center;
  background: var(--state-info-color--faded);
  color: var(--state-info-color--inverted);
  border-radius: var(--border-radius-small);

  @nest &[data-edits="true"] {
    background: var(--state-warning-color--faded);
    color: var(--state-warning-color--inverted);
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.icon {
  display: flex;
  padding-right: 2px;
}

.title {
  composes: label from "part:@sanity/base/theme/typography/forms-style";
  margin: 0;
  font-size: var(--font-size-small);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--state-info-color--inverted);
}

.details {
  display: flex;
  align-items: center;
  margin: var(--extra-small-padding) 0 0;
}

.user {
  padding-right: var(--small-padding);
}

.time {
  font-size: var(--font-size-small);
  margin-top: -2px 0 -1px;
  padding-left: var(--extra-small-padding);
  margin-left: auto;

  @nest .root div[class*="rbc-agenda-event-cell"] {
    display: none;
  }
}
